<h1><%= @note.id %>번 째 글 "<%= @note.title %>" </h1>

<p><%= @note.content %></p>

<button><a href="/">목록</a></button>
<button><a href="/notes/edit/<%= @note.id %>">수정</a></a></button>
<button><a href="/notes/destroy/<%= @note.id%>">삭제</a></button>
<!--<button><a href="/notes/<%= @note.id %>" data-confirm='정말 삭제하시겠습니까?' data-method='delete'>삭제</a></button>-->


